<ion-header >
  <ion-navbar color="secondary" no-lines>
    <ion-title>
      Mensajes  
      
    </ion-title>  
    <ion-buttons end>                   
      <button ion-button outline icon-only (click)="opciones()">
        <ion-icon name="settings" color="light"></ion-icon >
      </button>
    </ion-buttons>
      
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-list class="chat-list" no-lines>
    <ion-item text-wrap *ngFor="let msg of messages | async ;let idx = index">
        
      <div class="chat-bubble">
         
        <div class="chat-message">
          <button *ngIf="msg.id_user==id_usuario" ion-button outline icon-only (click)="delete(msg.msgKey)" >
            <ion-icon name="close" color="secondary"></ion-icon>
        </button>
          <h2>{{ msg.author }}</h2>
          <span *ngIf="msg.image">
            <img width="40%" height="40%" [src]="msg.image" *ngIf="msg.image"/>
            
          </span>
          <p>{{ msg.message }}</p>
          
          
        </div>
      </div> 
        
      <p item-end>{{ msg.date }}</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar position="bottom">
    <img width="20%" height="20%" [hidden]="estImage" [src]="image"/> 
    <button  ion-button outline icon-only (click)="borrarFoto()" [hidden]="estImage">
      <ion-icon name="close" color="secondary"></ion-icon>
    </button>
    <ion-item no-lines>
     
      <ion-input [(ngModel)]="newMessage" type="text" placeholder="Escribe aquí"></ion-input>
      
      <button ion-button outline item-end icon-only (click)="picture(0)"  >
          <ion-icon name="image" color="secondary"></ion-icon >
        </button>
      <button ion-button outline item-end icon-only (click)="picture(1)"  >
        <ion-icon name="camera" color="secondary"></ion-icon >
      </button>
      <button ion-button outline item-end icon-only (click)="send()"  >
        <ion-icon name="send" color="secondary"></ion-icon >
      </button>
    </ion-item>

  </ion-toolbar>
</ion-footer>